.cart-vacio {
    min-height: calc(100vh - 100px - 301px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    min-height: calc(100vh - 100px - 301px);
}

.product-cart img {
    height: 65px;
}

.product-cart {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.aviso-carrito-vacio {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.eliminar-product {
    background-color: white;
    color: red;
    border: red 1px solid;
    border-radius: 5px;
}

.eliminar-product:hover {
    background-color: red;
    color: white;
}

.cart h1 {
    text-align: center;
}

.title-cart {
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px 90px 50px 90px;
    padding: 10px 0;
    font-size: 50px;
}

.quantity-box {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.quantity-box button {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: white;
}

.quantity-box button.decrease{
    color: rgb(211, 211, 69);
    border: rgb(211, 211, 69) 1px solid;
}


.quantity-box button.increase{
    color: rgb(47, 170, 47);
    border: rgb(47, 170, 47) 1px solid;
}

.quantity-box button.decrease:hover{
    color: white;
    background-color: rgb(211, 211, 69);
}

.quantity-box button.increase:hover{
    color: white;
    background-color: rgb(47, 170, 47);
}
