@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.h1 {
    color: white;
    font-size: 35px;
    font-family: 'Audiowide', cursive;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.links-nav {
    width: 350px;
    color: rgb(180, 178, 178);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 0 20px;
}

.carrito-img {
    filter: invert(100%);
    width: 35px;
}